*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    height: 70px;
    width: 100%;
    background-color: rgb(2, 18, 41);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    margin-left: 60px;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: rgb(14, 246, 223);
}