*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontent{
    color: rgb(44, 16, 70);
    position: relative;
    top: -350px;
    margin-left: 250px;
}
.btn{
    color: white;
    background-color: rgb(25, 249, 242);
    padding: 10px 40px;
    position: relative;
    top: -320px;
    margin-left:550px;
    border-radius: 5px;
    font-weight: bold;
}

.motivationpart{
    margin-top: -40px;
}
.header3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: rgb(44, 16, 70) ;
}
.div1{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.headerRepeate{
    color: rgb(154, 32, 85);
    font-size: 20px;
    letter-spacing: 0.02rem;
    margin-left: 20px;
}
.paragraph{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 20px;
}
@media (max-width: 768px) {
    .maincontent {
      font-size: 20px;
      margin-left: 0;
      top: 0;
    }
  
    .btn {
      margin-left: 0;
      top: 0;
    }
  
    .header3 {
      font-size: 20px;
    }
  
    .div1 {
      flex-direction: column;
    }
  
    .headerRepeate {
      margin-left: 0;
      text-align: center;
    }
  
    .paragraph {
      margin-left: 0;
      text-align: center;
    }
  
    /* Additional styles for complex media query */
    .maincontent p {
      font-size: 16px;
    }
  
    .maincontent h5 {
      font-size: 18px;
    }
  }
  